@import "variables";
@import "reset";
@import "./asset/font/font1/transfonter.org-20230322-082506/stylesheet.css";

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;

    background-color: rgba(0, 0, 0, 0.229);
    z-index: 90;
    display: none;
}

.modal-2 {
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;

    background-color: rgba(0, 0, 0, 0.229);
    z-index: 90;
    display: none;
}

.modal-img-zoom {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.918);
    display: none;
    z-index: 200;
}

.modal-search {
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: rgba(8, 7, 7, 0.786);
    z-index: 110;
    display: none;
}

.menu_responsive {
    z-index: 95;
    position: fixed;
    inset: 0;
    width: 50%;
    left: -100%;
    height: 100%;
    background-color: $color-blue;
    display: flex;
    justify-content: start;
    align-items: start;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
    ul {
        margin-top: 200px;
        margin-left: 50px;
        li {
            margin-bottom: 40px;
            text-transform: uppercase;

            a {
                font-size: 25px;
                line-height: 30px;
                color: white;
                font-weight: 500;
                transition: all 0.5s ease;
                img {
                    width: 25px;
                    height: 25px;
                    background-color: white;
                    border-radius: 20px;
                }
            }

            span {
                color: white;
            }
            .active {
                color: $color-yellow;
            }

            p {
                font-size: 25px;
                line-height: 30px;
                color: white;
                font-weight: 500;
            }
        }
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        width: 50%;
        ul {
            li {
                margin-bottom: 20px;
                a {
                    font-size: 20px;
                }
                p {
                    font-size: 20px;
                }
            }
            .show {
                opacity: 1 !important;
                display: flex !important;
            }

            .menu-down-mb {
                .btn-down {
                    display: inline-block;

                    padding: 10px 15px;
                    color: white;
                }

                .menu-children-mb {
                    width: 100%;
                    display: none;

                    background-color: $color-blue;

                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.5s linear;
                    opacity: 0;
                    margin: 10px 0 0 0;

                    li {
                        width: 100%;
                        margin-left: 0px;
                        margin-bottom: 10px;
                        padding: 10px 10px;
                        display: flex;
                        justify-content: center;
                        transition: all 0.5s linear;
                        &:hover {
                            background-color: $color-yellow;
                        }

                        &:hover {
                            a {
                                color: black;
                            }
                        }

                        a {
                            margin: 0;
                            width: 100%;
                            height: 100%;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 19px;
                            padding: 0 20px;
                            text-align: start;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {
        width: 100%;
        ul {
            margin-top: 100px;
            li {
                margin-bottom: 20px;
                a {
                    font-size: 20px;
                    img {
                        width: 20px;
                        margin-right: 5px;
                    }

                    i {
                        width: 20px;
                        margin-right: 5px;
                    }
                }
                p {
                    font-size: 20px;
                }
            }
            .show {
                opacity: 1 !important;
                display: flex !important;
            }

            .menu-down-mb {
                .btn-down {
                    display: inline-block;

                    padding: 10px 15px;
                    color: white;
                }

                .menu-children-mb {
                    width: 100%;
                    display: none;

                    background-color: $color-blue;

                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.5s linear;
                    opacity: 0;
                    margin: 10px 0 0 0;

                    li {
                        width: 100%;
                        margin-left: 0px;
                        margin-bottom: 10px;
                        padding: 10px 10px;
                        display: flex;
                        justify-content: center;
                        transition: all 0.5s linear;
                        &:hover {
                            background-color: $color-yellow;
                        }

                        &:hover {
                            a {
                                color: black;
                            }
                        }

                        a {
                            margin: 0;
                            width: 100%;
                            height: 100%;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 19px;
                            padding: 0 20px;
                            text-align: start;
                        }
                    }
                }
            }
        }
    }
}

.search-mobi {
    position: fixed;
    width: 60%;
    height: 30%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    z-index: 120;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    display: none;

    transition: all 0.5s linear;
    .exits {
        color: white;
        position: absolute;
        top: 10%;
        right: 5%;
        font-size: 20px;
    }
    h1 {
        text-transform: uppercase;
        color: white;
    }

    &-con {
        width: 100%;
        display: flex;
        justify-content: center;
        input {
            padding: 10px;
            border: none;
            outline: none;
        }

        a {
            border-left: 1px solid black;
            padding: 10px;
            background-color: white;

            &:hover {
                background-color: $color-yellow;
                color: white;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        width: 100%;

        h1 {
            font-size: 20px;
            margin-bottom: 50px;
        }
    }
}

.main_links-link-mb {
    position: fixed;
    z-index: 10;
    right: 2%;
    bottom: 30%;
    transition: all 1s ease-out;
    display: none;
    z-index: 10;
    .link-img {
        display: block;
        width: 56px;
        height: 56px;
        margin-bottom: 15px;
        background-color: white;
        border-radius: 50%;
        position: relative;
        z-index: 50;
        img {
            position: static;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 50;
        }
    }

    .link-face {
        z-index: 50;
        &::after {
            content: "";
            position: absolute;
            top: -10%;
            left: -8%;
            transform: translate(-50%, -50%) scale(1);
            width: 66px;
            height: 66px;
            border-radius: 50%;
            background-color: rgba(0, 0, 255, 0.243);
            animation: animateFace 1s ease-in-out infinite;
            z-index: 1;
            opacity: 0.8;
        }

        @keyframes animateFace {
            0% {
                transform: scale(0) translateX(0);
            }
            50% {
                transform: scale(1.2) translateX(0);
            }
            100% {
                transform: scale(1) translateX(0);
            }
        }
    }

    .link-insta {
        z-index: 50;
        &::after {
            content: "";
            position: absolute;
            top: -10%;
            left: -8%;
            transform: translate(-50%, -50%) scale(1);
            width: 66px;
            height: 66px;
            border-radius: 50%;
            background-color: rgba(217, 0, 255, 0.243);
            animation: animateFace 1s ease-in-out infinite;
            z-index: 1;
        }

        @keyframes animateFace {
            0% {
                transform: scale(0) translateX(0);
            }
            50% {
                transform: scale(1.2) translateX(0);
            }
            100% {
                transform: scale(1) translateX(0);
            }
        }
    }

    .link-in {
        z-index: 50;
        &::after {
            content: "";
            position: absolute;
            top: -10%;
            left: -8%;
            transform: translate(-50%, -50%) scale(1);
            width: 66px;
            height: 66px;
            border-radius: 50%;
            background-color: rgba(77, 173, 251, 0.243);
            animation: animateFace 1s ease-in-out infinite;
            z-index: 1;
        }

        @keyframes animateFace {
            0% {
                transform: scale(0) translateX(0);
            }
            50% {
                transform: scale(1.2) translateX(0);
            }
            100% {
                transform: scale(1) translateX(0);
            }
        }
    }

    .link-phone {
        z-index: 50;
        &::after {
            content: "";
            position: absolute;
            top: -10%;
            left: -8%;
            transform: translate(-50%, -50%) scale(1);
            width: 66px;
            height: 66px;
            border-radius: 50%;
            background-color: rgba(242, 255, 0, 0.243);
            animation: animateFace 1s ease-in-out infinite;
            z-index: 1;
        }

        @keyframes animateFace {
            0% {
                transform: scale(0) translateX(0);
            }
            50% {
                transform: scale(1.2) translateX(0);
            }
            100% {
                transform: scale(1) translateX(0);
            }
        }
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
        display: block;
    }

    @media screen and (max-width: 768px) {
        display: block;
        bottom: 5%;
        .link-img {
            display: block;
            width: 30px;
            height: 30px;
            margin-bottom: 20px;
            background-color: white;
            border-radius: 50%;
            position: relative;
            z-index: 50;
            img {
                position: static;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 50;
            }
        }

        .link-face {
            z-index: 50;
            &::after {
                content: "";
                position: absolute;
                top: -15%;
                left: -20%;
                width: 40px;
                height: 40px;
                transform: translate(-50%, -50%) scale(1);
                border-radius: 50%;
                background-color: rgba(0, 0, 255, 0.243);
                animation: animateFace 1s ease-in-out infinite;
                z-index: 1;
                opacity: 0.8;
            }

            @keyframes animateFace {
                0% {
                    transform: scale(0) translateX(0);
                }
                50% {
                    transform: scale(1.2) translateX(0);
                }
                100% {
                    transform: scale(1) translateX(0);
                }
            }
        }

        .link-insta {
            z-index: 50;
            &::after {
                content: "";
                position: absolute;

                transform: translate(-50%, -50%) scale(1);
                top: -15%;
                left: -20%;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: rgba(217, 0, 255, 0.243);
                animation: animateFace 1s ease-in-out infinite;
                z-index: 1;
            }

            @keyframes animateFace {
                0% {
                    transform: scale(0) translateX(0);
                }
                50% {
                    transform: scale(1.2) translateX(0);
                }
                100% {
                    transform: scale(1) translateX(0);
                }
            }
        }

        .link-in {
            z-index: 50;
            &::after {
                content: "";
                position: absolute;

                transform: translate(-50%, -50%) scale(1);
                top: -15%;
                left: -20%;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: rgba(77, 173, 251, 0.243);
                animation: animateFace 1s ease-in-out infinite;
                z-index: 1;
            }

            @keyframes animateFace {
                0% {
                    transform: scale(0) translateX(0);
                }
                50% {
                    transform: scale(1.2) translateX(0);
                }
                100% {
                    transform: scale(1) translateX(0);
                }
            }
        }

        .link-phone {
            z-index: 50;
            &::after {
                content: "";
                position: absolute;

                transform: translate(-50%, -50%) scale(1);
                top: -15%;
                left: -20%;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: rgba(242, 255, 0, 0.243);
                animation: animateFace 1s ease-in-out infinite;
                z-index: 1;
            }

            @keyframes animateFace {
                0% {
                    transform: scale(0) translateX(0);
                }
                50% {
                    transform: scale(1.2) translateX(0);
                }
                100% {
                    transform: scale(1) translateX(0);
                }
            }
        }
    }
}

header {
    overflow: hidden;
    width: 100%;
    .header {
        .header_res-navbar {
            display: none;
            color: white;
            font-size: 20px;
        }

        .header_res-exits {
            display: none;
            color: white;
            font-size: 20px;
        }

        width: 100%;
        padding: 38px 50px;
        background-color: $color-blue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 100;

        .header_search-input {
            position: absolute;

            top: 110px;
            right: -100%;
            z-index: 111;
            display: flex;
            justify-content: space-between;
            align-items: center;

            transition: all 0.4s ease-in-out;
            input {
                width: 100px;
                padding: 10px;
                width: 300px;
                background-color: white;
                border: none;
                outline: none;
                position: relative;
            }

            .search {
                width: 20%;
                height: 100%;
                display: flex;
                background: white;
                align-items: center;
                justify-content: center;
                position: absolute;
                text-align: center;
                right: -10%;
                top: 49%;
                transform: translate(-50%, -50%);
                z-index: 10;
                transition: all 0.5s linear;
                &:hover {
                    background-color: $color-yellow;
                }
            }
        }

        .header_logo {
            width: 97px;
            height: 30px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .header_menu {
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style: none;

                li {
                    padding: 0 10px;
                    margin-left: 20px;
                    position: relative;
                }

                .menu-dropdown {
                    position: relative;

                    i {
                        margin-left: 5px;
                    }

                    &:before {
                        content: " ";
                        width: 100%;
                        height: 50px;
                        position: absolute;
                        background-color: transparent;
                        top: 20px;
                        left: 0px;
                    }

                    &:hover > ul {
                        opacity: 1;
                        pointer-events: visible;
                    }

                    ul {
                        width: 100%;
                        pointer-events: none;
                        background-color: $color-blue;
                        top: 60px;
                        left: 0;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        transition: all 0.5s linear;
                        opacity: 0;

                        li {
                            width: 100%;
                            margin-left: 0px;
                            margin-bottom: 10px;
                            padding: 10px 10px;
                            display: flex;
                            justify-content: center;
                            transition: all 0.5s linear;
                            &:hover {
                                background-color: $color-yellow;
                            }

                            &:hover {
                                a {
                                    color: black;
                                }
                            }

                            a {
                                margin: 0;
                                width: 100%;
                                height: 100%;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 19px;

                                text-align: center;
                            }
                        }
                    }
                }

                .active-link {
                    color: $color-yellow;
                    font-weight: 700;
                }

                a {
                    text-align: center;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    text-decoration: none;
                    color: white;
                    transition: all 0.5s linear;

                    &:hover {
                        color: $color-yellow;
                    }
                }
            }
        }

        .header_language-con {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: white;
            cursor: pointer;

            .header_language {
                margin-right: 10px;
            }

            .active-language {
                color: $color-yellow;
                font-weight: 700;
            }

            .header_search-block {
                position: relative;
                width: 30px;
                .header_search {
                    margin-left: 10px;
                    font-size: 20px;
                    font-weight: 400;
                    transition: all 0.5s linear;
                    &:hover {
                        color: $color-yellow;
                    }
                }

                .header_exits {
                    margin-left: 10px;
                    font-size: 20px;
                    font-weight: 400;
                    transition: all 0.5s linear;
                    display: none;
                    &:hover {
                        color: $color-yellow;
                    }
                }

                .arrow-up {
                    position: absolute;
                    top: 56px;
                    right: 6px;
                    visibility: hidden;
                    opacity: 0;

                    transition: all 0.2s ease;
                    transition-delay: 0.1s;
                }
            }
        }
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
        .header {
            width: 100%;
            height: 80px;
            justify-content: space-between;
            padding: 0 20px;
            position: fixed;
            .header_menu {
                display: none;
            }

            .header_language-con {
                display: none;
            }

            .header_search {
                display: none;
            }

            .header_res-navbar {
                display: block;
                color: white;
                font-size: 20px;
            }

            .header_res-exits {
                display: none;
                color: white;
                font-size: 20px;
            }

            .header_search-input {
                display: none;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .header {
            width: 100%;
            height: 50px;
            justify-content: space-between;
            padding: 0 20px;
            position: fixed;
            .header_menu {
                display: none;
            }

            .header_logo {
                width: 60px;
                height: 30px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .header_language-con {
                display: none;
            }

            .header_search {
                display: none;
            }

            .header_res-navbar {
                display: block;
                color: white;
                font-size: 20px;
            }

            .header_res-exits {
                display: none;
                color: white;
                font-size: 20px;
            }

            .header_search-input {
                display: none;
            }
        }
    }
}

main {
    background-color: #efefef;
    .main-img {
        width: 100%;
        height: calc(528 / 1728 * 100vw);
        background: url(./image/biker-helm-motorbike.png);
        background-repeat: no-repeat;
        object-fit: cover;
        background-size: 100%;
        position: relative;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            background: linear-gradient(
                90deg,
                rgba(0, 0, 0, 0.9164040616246498) 40%,
                rgba(244, 244, 244, 0) 63%,
                rgba(0, 0, 0, 0) 100%
            );
        }

        &-text {
            position: absolute;
            left: 32%;
            top: 50%;
            transform: translate(-50%, -50%);

            .color-yellow {
                color: $color-yellow;
            }
            h1 {
                font-style: italic;
                font-weight: 700;
                font-size: 38px;
                margin: 0 0 10px 0;
                color: white;
            }

            ul {
                display: flex;
                align-items: center;
                margin-top: 20px;
                li {
                    color: white;
                    margin-right: 10px;
                    a {
                        font-style: italic;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 24px;
                        color: white;
                        transition: all 0.5s linear;
                        &:hover {
                            color: $color-yellow;
                        }
                    }
                }
            }
        }
    }

    .main_container {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: start;
        &-left {
            width: 70%;
            h1 {
                padding: 20px 0 50px 0;
                font-style: italic;
                font-weight: 700;
                font-size: 21px;
                line-height: 25px;
                color: $color-yellow;
            }

            &-content{
                .content-img{
                    width: 100%;
                    min-width: 530px;
                    height: auto;

                    img{
                        width: 100%;
                        height: 100%;
                    }
                }

                .content-text{
                    display: flex;
                    
                    .context-con-1{
                        width: 50%;
                    }
                }
            }

        }
    }
}

footer {
    width: 100%;
    height: auto;
    background-color: $color-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    overflow: hidden;
    z-index: 100;
    .footer_container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 1200px;

        .footer_top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 120px;

            .footer_left {
                width: 50%;
                h1 {
                    color: #f3973d;
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 29px;
                    margin-bottom: 50px;
                }

                .footer_left-1 {
                    list-style: none;
                    cursor: pointer;
                    margin-bottom: 30px;
                    li {
                        margin-bottom: 5px;
                        display: flex;
                        a {
                            color: white;

                            font-weight: 500;
                            font-size: 15px;
                            line-height: 28px;

                            transition: all 0.5s linear;
                            &:hover {
                                color: $color-yellow;
                            }
                        }

                        p {
                            color: white;
                            margin-right: 5px;
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 28px;
                            transition: all 0.5s linear;
                        }
                    }
                }

                .footer_left-2 {
                    width: 70%;
                    list-style: none;
                    cursor: pointer;
                    li {
                        margin-bottom: 5px;
                        display: flex;
                        // a {
                        //     color: white;

                        //     font-weight: 500;
                        //     font-size: 15px;
                        //     line-height: 28px;

                        //     transition: all 0.5s linear;
                        //     &:hover{
                        //         color:$color-yellow;
                        //     }
                        // }

                        p {
                            color: white;
                            margin-right: 5px;
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 28px;
                            transition: all 0.5s linear;
                        }
                    }
                }
            }

            .footer_right {
                padding-left: 100px;
                width: 50%;
                h1 {
                    color: #f3973d;
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 29px;
                    margin-bottom: 50px;
                }

                &-menu {
                    display: flex;
                    align-items: flex-start;
                    ul {
                        width: 50%;
                        list-style: none;
                        cursor: pointer;
                        margin-bottom: 30px;
                        margin-right: 100px;
                        li {
                            margin-bottom: 5px;
                            display: flex;
                            a {
                                color: white;
                                margin-right: 5px;
                                font-weight: 500;
                                font-size: 15px;
                                line-height: 28px;

                                transition: all 0.5s linear;
                                &:hover {
                                    color: $color-yellow;
                                }
                            }
                        }
                    }
                }

                &-map {
                    width: 90%;
                    height: 400px;

                    iframe {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .footer_bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                width: 132px;
                height: 52px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            h1 {
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: white;
            }

            ul {
                margin-right: 50px;
                width: 100px;
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                li {
                    width: 24px;
                    height: 24px;
                    transition: all 0.5s linear;
                    &:hover {
                        background-color: $color-yellow;
                        border-radius: 50%;
                    }
                    a {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .btn-top {
            width: 52px;
            height: 52px;
            transform: rotate(180deg);
            margin: 50px auto 0 auto;
            text-align: center;
            transition: all 0.5s linear;
            border-radius: 50%;
            img {
                width: 100%;
                height: 100%;
            }
            background-color: white;
            border: 1px solid $color-blue;
            &:hover {
                background: white;
                border-radius: 50%;
                box-shadow: 0 0 20px white;
                transform: rotate(360deg);
            }
        }
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
        width: 100%;
        height: auto;
        background-color: $color-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 20px;

        .footer_container {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;

            .footer_top {
                display: flex;
                justify-content: space-between;
                margin-bottom: 120px;

                .footer_left {
                    width: 50%;
                    h1 {
                        color: #f3973d;
                        font-weight: 700;
                        font-size: 25px;
                        line-height: 29px;
                        margin-bottom: 50px;
                    }

                    .footer_left-1 {
                        list-style: none;
                        cursor: pointer;
                        margin-bottom: 30px;
                        li {
                            margin-bottom: 5px;
                            display: flex;
                            a {
                                color: white;

                                font-weight: 500;
                                font-size: 15px;
                                line-height: 28px;

                                transition: all 0.5s linear;
                                &:hover {
                                    color: $color-yellow;
                                }
                            }

                            p {
                                color: white;
                                margin-right: 5px;
                                font-weight: 500;
                                font-size: 15px;
                                line-height: 28px;
                                transition: all 0.5s linear;
                            }
                        }
                    }

                    .footer_left-2 {
                        width: 70%;
                        list-style: none;
                        cursor: pointer;
                        li {
                            margin-bottom: 5px;
                            display: flex;
                            // a {
                            //     color: white;

                            //     font-weight: 500;
                            //     font-size: 15px;
                            //     line-height: 28px;

                            //     transition: all 0.5s linear;
                            //     &:hover{
                            //         color:$color-yellow;
                            //     }
                            // }

                            p {
                                color: white;
                                margin-right: 5px;
                                font-weight: 500;
                                font-size: 15px;
                                line-height: 28px;
                                transition: all 0.5s linear;
                            }
                        }
                    }
                }

                .footer_right {
                    padding-left: 0px;
                    width: 50%;
                    h1 {
                        color: #f3973d;
                        font-weight: 700;
                        font-size: 25px;
                        line-height: 29px;
                        margin-bottom: 50px;
                    }

                    &-menu {
                        display: flex;
                        align-items: flex-start;
                        ul {
                            list-style: none;
                            cursor: pointer;
                            margin-bottom: 30px;
                            margin-right: 30px;
                            li {
                                margin-bottom: 5px;
                                display: flex;
                                a {
                                    color: white;
                                    margin-right: 5px;
                                    font-weight: 500;
                                    font-size: 15px;
                                    line-height: 28px;

                                    transition: all 0.5s linear;
                                    &:hover {
                                        color: $color-yellow;
                                    }
                                }
                            }
                        }
                    }

                    &-map {
                        width: 100%;
                        height: 50%;

                        iframe {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .footer_bottom {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .logo {
                    width: 132px;
                    height: 52px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                h1 {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: white;
                }

                ul {
                    margin-right: 50px;
                    width: 100px;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;

                    li {
                        width: 24px;
                        height: 24px;
                        transition: all 0.5s linear;
                        &:hover {
                            background-color: $color-yellow;
                            border-radius: 50%;
                        }
                        a {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .btn-top {
                width: 52px;
                height: 52px;
                transform: rotate(0) !important;
                margin: 50px auto 0 auto;
                text-align: center;
                transition: all 0.5s linear;
                border-radius: 50%;
                img {
                    width: 100%;
                    height: 100%;
                }
                background-color: white;
                border: 1px solid $color-blue;
                &:hover {
                    background: white;
                    border-radius: 50%;
                    box-shadow: 0 0 20px white;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        height: auto;
        background-color: $color-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        .footer_container {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;

            .footer_top {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                margin-bottom: 60px;

                .footer_left {
                    width: 100%;
                    h1 {
                        color: #f3973d;
                        font-weight: 700;
                        font-size: 25px;
                        line-height: 29px;
                        margin-bottom: 20px;
                    }

                    .footer_left-1 {
                        list-style: none;
                        cursor: pointer;
                        margin-bottom: 30px;
                        li {
                            margin-bottom: 5px;
                            display: flex;
                            a {
                                color: white;

                                font-weight: 500;
                                font-size: 15px;
                                line-height: 28px;

                                transition: all 0.5s linear;
                                &:hover {
                                    color: $color-yellow;
                                }
                            }

                            p {
                                color: white;
                                margin-right: 5px;
                                font-weight: 500;
                                font-size: 15px;
                                line-height: 28px;
                                transition: all 0.5s linear;
                            }
                        }
                    }

                    .footer_left-2 {
                        width: 100%;
                        list-style: none;
                        cursor: pointer;
                        li {
                            margin-bottom: 5px;
                            display: flex;
                            // a {
                            //     color: white;

                            //     font-weight: 500;
                            //     font-size: 15px;
                            //     line-height: 28px;

                            //     transition: all 0.5s linear;
                            //     &:hover{
                            //         color:$color-yellow;
                            //     }
                            // }

                            p {
                                color: white;
                                margin-right: 5px;
                                font-weight: 500;
                                font-size: 15px;
                                line-height: 28px;
                                transition: all 0.5s linear;
                            }
                        }
                    }
                }

                .footer_right {
                    padding-left: 0px;
                    width: 100%;
                    h1 {
                        color: #f3973d;
                        font-weight: 700;
                        font-size: 25px;
                        line-height: 29px;
                        margin-bottom: 20px;
                    }

                    &-menu {
                        display: flex;
                        align-items: flex-start;
                        ul {
                            list-style: none;
                            cursor: pointer;
                            margin-bottom: 30px;
                            margin-right: 30px;
                            li {
                                margin-bottom: 5px;
                                display: flex;
                                a {
                                    color: white;
                                    margin-right: 5px;
                                    font-weight: 500;
                                    font-size: 15px;
                                    line-height: 28px;

                                    transition: all 0.5s linear;
                                    &:hover {
                                        color: $color-yellow;
                                    }
                                }
                            }
                        }
                    }

                    &-map {
                        width: 100%;
                        height: 400px;

                        iframe {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .footer_bottom {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .logo {
                    width: 60px;
                    height: 30px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                h1 {
                    display: none;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 16px;
                    color: white;
                }

                ul {
                    margin-right: 0px;
                    width: 100px;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;

                    li {
                        width: 24px;
                        height: 24px;
                        transition: all 0.5s linear;
                        &:hover {
                            background-color: $color-yellow;
                            border-radius: 50%;
                        }
                        a {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .btn-top {
                width: 52px;
                height: 52px;
                transform: rotate(0);
                margin: 50px auto 0 auto;
                text-align: center;
                transition: all 0.5s linear;
                border-radius: 50%;
                img {
                    width: 100%;
                    height: 100%;
                }
                background-color: white;
                border: 1px solid $color-blue;
                &:hover {
                    background: white;
                    border-radius: 50%;
                    box-shadow: 0 0 20px white;
                }
            }
        }
    }
}
