@import "variables";
@import "reset";
@import "./asset/font/font1/transfonter.org-20230322-082506/stylesheet.css";



header {
    width: 100%;
    .header {
        .header_res-navbar {
            display: none;
            color: white;
            font-size: 20px;
        }

        .header_res-exits {
            display: none;
            color: white;
            font-size: 20px;
        }

        width: 100%;
        padding: 38px 50px;
        background-color: $color-blue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 100;

        .header_search-input {
            position: absolute;

            top: 110px;
            right: -100%;
            z-index: 111;
            display: flex;
            justify-content: space-between;
            align-items: center;

            transition: all 0.4s ease-in-out;
            input {
                width: 100px;
                padding: 10px;
                width: 300px;
                background-color: white;
                border: none;
                outline: none;
                position: relative;
            }

            .search {
                width: 20%;
                height: 100%;
                display: flex;
                background: white;
                align-items: center;
                justify-content: center;
                position: absolute;
                text-align: center;
                right: -10%;
                top: 49%;
                transform: translate(-50%, -50%);
                z-index: 10;
                transition: all 0.5s linear;
                &:hover {
                    background-color: $color-yellow;
                }
            }
        }

        .header_logo {
            width: 97px;
            height: 30px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .header_menu {
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style: none;

                li {
                    padding: 0 10px;
                    margin-left: 20px;
                    position: relative;
                }

                .menu-dropdown {
                    position: relative;

                    i {
                        margin-left: 5px;
                    }

                    &:before {
                        content: " ";
                        width: 100%;
                        height: 50px;
                        position: absolute;
                        background-color: transparent;
                        top: 20px;
                        left: 0px;
                    }

                    &:hover > ul {
                        opacity: 1;
                        pointer-events: visible;
                    }

                    ul {
                        width: 100%;
                        pointer-events: none;
                        background-color: $color-blue;
                        top: 60px;
                        left: 0;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        transition: all 0.5s linear;
                        opacity: 0;

                        li {
                            width: 100%;
                            margin-left: 0px;
                            margin-bottom: 10px;
                            padding: 10px 10px;
                            display: flex;
                            justify-content: center;
                            transition: all 0.5s linear;
                            &:hover {
                                background-color: $color-yellow;
                            }

                            &:hover {
                                a {
                                    color: black;
                                }
                            }

                            a {
                                margin: 0;
                                width: 100%;
                                height: 100%;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 19px;

                                text-align: center;
                            }
                        }
                    }
                }

                .active-link {
                    color: $color-yellow;
                    font-weight: 700;
                }

                a {
                    text-align: center;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    text-decoration: none;
                    color: white;
                    transition: all 0.5s linear;

                    &:hover {
                        color: $color-yellow;
                    }
                }
            }
        }

        .header_language-con {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: white;
            cursor: pointer;

            .header_language {
                margin-right: 10px;
            }

            .active-language {
                color: $color-yellow;
                font-weight: 700;
            }

            .header_search-block {
                position: relative;
                width: 30px;
                .header_search {
                    margin-left: 10px;
                    font-size: 20px;
                    font-weight: 400;
                    transition: all 0.5s linear;
                    &:hover {
                        color: $color-yellow;
                    }
                }

                .header_exits {
                    margin-left: 10px;
                    font-size: 20px;
                    font-weight: 400;
                    transition: all 0.5s linear;
                    display: none;
                    &:hover {
                        color: $color-yellow;
                    }
                }

                .arrow-up {
                    position: absolute;
                    top: 56px;
                    right: 6px;
                    visibility: hidden;
                    opacity: 0;

                    transition: all 0.2s ease;
                    transition-delay: 0.1s;
                }
            }
        }

        
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
        .header {
            width: 100%;
            height: 80px;
            justify-content: space-between;
            padding: 0 20px;
            position: fixed;
            .header_menu {
                display: none;
            }

            .header_language-con {
                display: none;
            }

            .header_search {
                display: none;
            }

            .header_res-navbar {
                display: block;
                color: white;
                font-size: 20px;
            }

            .header_res-exits {
                display: none;
                color: white;
                font-size: 20px;
            }

            .header_search-input {
                display: none;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .header {
            width: 100%;
            height: 80px;
            justify-content: space-between;
            padding: 0 20px;
            position: fixed;
            .header_menu {
                display: none;
            }

            .header_logo {
                width: 60px;
                height: 30px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .header_language-con {
                display: none;
            }

            .header_search {
                display: none;
            }

            .header_res-navbar {
                display: block;
                color: white;
                font-size: 20px;
            }

            .header_res-exits {
                display: none;
                color: white;
                font-size: 20px;
            }

            .header_search-input {
                display: none;
            }


        }
    }
}


